.icon-input{
    border: 1px solid #bbbbbb;
    border-radius: 4px;
    height: 38px;
    width: 300px;
    display: flex;
    align-items: center;
    
    
    


}
.icon-input input{
    border: none;
    border-top: 1px solid #bbbbbb;
    border-bottom: 1px solid #bbbbbb;
    outline: none;
    padding: 0;
    height: 38px;
    width: 100%;
    
}
.icon-input .search-icon{
    margin-left:16px;
    margin-right: 16px;
}
.icon-input .x-icon {
    width: 14px;
    height: 14px;
    padding: 2px;
    background-color: #e9ebee;
    border-radius: 50%;
    margin-left: 10px;
    margin-right: 10px;
    
}