.content {
  float: left;
  width: calc(100% - 221px);
  height: calc(100vh - 49px);
  position: relative;
}
.first-content {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.content .employee-lable {
  font-family: GoogleSans-Bold;
  font-size: 24px;
  margin-left: 16px;
}
.content .add-employee {
  
  margin-right: 16px;
  margin-top: 16px;
}
.content .add-employee img {
  width: 16px;
  height: 16px;
  
  margin-right: 8px;
}
.content .filter-bar{
  display: flex;
  
}
.content .filter-bar .icon-input{
  margin-left: 16px;
  width: 300px;
}



.content .filter-bar select {
  height: 40px;
  padding-left: 16px;
  padding-right: 12px;
  outline: none;
  border: 1px solid rgb(187, 187, 187);
  border-radius: 4px;
  margin-left: 16px;
}
.refresh-button {
  
  width: 40px;
  position: absolute;
  right: 16px;
}

/* table and page-bar */

.grid {
  padding-left: 16px;
  padding-right: 16px;
  margin-top: 24px;
  /* height: 100%; */
  /* width: 100%; */
}
.employee-list{
  width: 100%;
  margin-bottom: 2px;
  border-collapse:  collapse;
  /* height: calc(100% - 198px); */
  overflow-y: auto;
  display: block;
}
.employee-list thead,tbody{
  /* display: block; */
}
.employee-list thead{
  text-align: left;
}
.employee-list th{
  position: sticky;
  top:0;
  z-index: 1;
  background-color: #ffffff;
  border-bottom: 1px solid #bbbbbb;
}
.employee-list tbody{
  /* height: 650px;
  overflow-y: auto;*/
} 
.employee-list tr:nth-child(odd)
{
  background-color: #e5e5e5;
}
.employee-list th,.employee-list td{
 
  padding: 10px;
  border-bottom: 1px solid #bbbbbb;
  width: 10%;
 
}


.paging-bar {
  height: 56px;
  /* position: absolute;
  bottom: 0px; */
  display: flex;
  justify-content: space-between;
  padding-left: 32px;
  padding-right: 32px;
  align-items: center;
  /* position: absolute; */
  /* bottom: 0; */
  margin-top: auto;
}
.paging-bar p{
    /* margin: auto 16px; */
}
.paging-bar button{
    width: 40px;
    height: 40px;
    outline: none;
    border: none;
    background-color: #ffffff;
    
    margin-left: 5px;
    
}
.paging-bar button i{
    font-size: 20px;
}
.paging-bar .btn-angle{
    border-radius: 5px;
}
.paging-bar .btn-number{
    border: 1px solid #bbbbbb;
    border-radius: 50%;
    font-size: 13px;
    
}


.paging-bar button:hover{
    background-color: #E9EBEE;
}
.paging-bar .btn-number:focus{
    background-color: #019160;
    color: #ffffff;
}
/* .paging-bar button:active{
    background-color: #019160;
    color: #000000;
} */
