.navbar{
    float: left;
    width: 220px;
    border-right: #E5E5E5;
    height: calc(100vh - 49px);


}
.navbar div{
    width: 100%;
    height: 44px;
    background-color: #bbbbbb;
    font-family: GoogleSans-Regular;
    font-size: 13px;
}
.navbar img{
    width: 20px;
    height: 20px;
}


.navbar div:focus{
    background-color: #019160;
}
.navbar{

}