<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/common/main.css">
    <link rel="stylesheet" href="/css/common/navbar.css">
    <link rel="stylesheet" href="/css/common/header.css">
    <link rel="stylesheet" href="/css/private/employee.css">
    
</head>
<body>
    <div class="navbar">navbar</div>
    <div class="header">header</div>
    <div class="content"><b>content</b></div>
</body>
</html>