<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- <script src="https://kit.fontawesome.com/yourcode.js" crossorigin="anonymous"></script> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/common/container.css">
    <link rel="stylesheet" href="/css/common/main.css">
    <link rel="stylesheet" href="/css/common/navbar.css">
    <link rel="stylesheet" href="/css/common/header.css">
    <link rel="stylesheet" href="/css/common/content.css">
    <link rel="stylesheet" href="/css/private/employee.css">
    
<body>
    <div class="header">
        <div class="left-side">
            <img class="toggle" src="/content/img/toggle.png">
            <img class="cukcuk-icon" src="/content/img/cukcuk-logo.png">
        </div>
        <div class="center-side">
            <p class="store-name">Nhà hàng Biển Đông</p>
            <img class="dropdown-img" src="/content/img/dropdown.png">
        </div>
        <div class="right-side">
            <!-- <i class="fas fa-bell"></i> -->
            <img class="avatar" src="/content/icon/avatar-default.png">
            <p class="username" >Đào Thu Hương</p>
            <img class="option" src="/content/icon/option.png">

            
        </div>


    </div>
   

 
     <div class="navbar">
        <div> 
            <img src="/content/icon/dashboard.png">
            <p>Tổng quan</p>
        </div>
        <div> 
            <img src="/content/icon/report.png">
            <p>Báo cáo</p>
        </div>
        <div> 
            <img src="/content/icon/dashboard.png">
            <p>Mua hàng</p>
        </div>
        <div> 
            <img src="/content/icon/dic-employee.png">
            <p>Danh mục nhân viên</p>
        </div>
        <div> 
            <img src="/content/icon/setting.png">
            <p>Thiết lập hệ thống</p>
        </div>
       
    </div>
 
    <div class="content"><b>content</b></div>

    
</body>
</html>