<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>test</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    



    <link rel="stylesheet" href="../css/base/dropdown/combo-box.css">

    <script src="../lib/jquery-3.6.0.js"></script>
    <script src="../css/base/input/input.css"></script>
    <script src="../js/base/combo-box.js"></script>


    
    
</head>

<body>
  <div class="combo-box">
    <div class="combo-box-selected">

        
        <input autocomplete="off" class="combo-box-input" id="employee-gender" type="text" placeholder="" >
        <!-- <img class="x-icon" src="../content/icon/x.svg"> -->
            
    
        <div class="wrap-drop-icon"><i class="dropdown-icon fa fa-angle-down"></i></div>
    </div>
    <div class="combo-box-content">
        <div class="combo-box-item combo-box-active">
            <div class="check-icon"><i class="fas fa-check"></i></div>
            <p>Nam</p>
        </div>
        <div class="combo-box-item">
            <div class="check-icon"><i class="fas fa-check"></i></div>
            <p>Nữ</p>
        </div>
        <div class="combo-box-item">
            <div class="check-icon"><i class="fas fa-check"></i></div>
            <p>Khác</p>
        </div>
        
    </div>
    



</div>


 
    
<!-- Code injected by live-server -->
</body>
</html>