<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>test</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    



    <link rel="stylesheet" href="../css/base/input/input.css">
    <link rel="stylesheet" href="../css/base/input/label-input.css">
    <link rel="stylesheet" href="../css/base/input/input-title.css">
    <link rel="stylesheet" href="../css/base/input/input.css">
    <link rel="stylesheet" href="../css/base/input/label-input.css">
    <link rel="stylesheet" href="../css/base/input/input-title.css">


    <style>
      
    </style>
    
</head>

<body>
  <h1>Styling html title tooltip</h1>
  
  <div class="input label-input" >
        
    <input type="text"  placeholder="" >
    <img class="x-icon" src="../content/icon/x.svg">
    
    <div class="title">in the works i will show you money aaaaaaaaaaaaaaaa aaaaaaaaaa </div>
    <i class="fas fa-caret-down"></i>

</div>
 
    
<!-- Code injected by live-server -->
</body>
</html>