<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>thu</title>
    <script src="../lib/jquery-3.6.0.js"></script>
</head>
<style>
    
</style>

<body>
    <input type="text">
    <script>
        $("input").keyup    (function(e) {
            console.log(e.which);
        if (e.which !== 0) {
            console.log("Character was typed. It was: " + String.fromCharCode(e.which));
        }
    });
    </script>
</body>
</html>